AERO_API_KEY=your_rapidapi_key
POSTGRES_PASSWORD=your_secure_password
DATABASE_URL=postgresql+psycopg2://postgres:${POSTGRES_PASSWORD}@postgres_db:5432/postgres
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=eu-central-1
S3_BUCKET_NAME=your_s3_bucket_name
DISCORD_WEBHOOK_URL=your_discord_webhook_url
RDS_HOST=postgres_db
RDS_PORT=5432
RDS_USER=postgres
RDS_PASSWORD=your_secure_password
AIRFLOW_SECRET_KEY=your_generated_secret_key
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin